@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

.contact {
	--bg: #0b0a09;
	--white: #ffffff;
	--muted: #9fa8af;
	--soft: #c5ccd0;
	--card-hover: rgba(255, 255, 255, 0.06);
	--card-line: rgba(255, 255, 255, 0.08);
	--color-main: rgb(212 255 88);

	align-items: center;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 100vh;
	width: 100vw;
	padding: 2rem 0 4rem;
	font-family: 'Poppins', sans-serif;
	color: var(--white);
}

.header {
	margin: auto 0;
	text-align: center;

	.open_to_work{
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		color: var(--muted);
		background-color: var(--color-main);
		box-shadow: 0 22px 58px rgba(111, 172, 155, 0.16);
		
		max-width: 11rem;
		margin:0 auto;
		border-radius: .3rem;

		align-items: center;
		span{
			
			margin:0 auto;
			padding: .1rem .8rem;
			display:flex;

			.child{
				margin : auto 0 !important;
			}
			span{

			}
		}
	}

	h2 {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 0.1em;
		font-weight: 800;
		line-height: 0.9;
		font-size: clamp(42px, 6vw, 96px);
		letter-spacing: -0.06em;

		span {
			display: block;
		}

		span:first-child {
			color: var(--white);
		}

		span:last-child {
			color: var(--color-main);
		}
	}
}